body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

#home{
    background-image: url(../img/Party.jpg);
    background-size: cover;
    background-position: center;
}


#singers{
    margin: auto;
    height: 70vh;
}

#singers a{
    color: white;
}

#singers div{
    background-color: #E68285;
}

#singers div p{
    background-color: #CCCCCC;
    color:rgb(51, 51, 51) ;
}

#navigation{
    background-color: #414658;
    width: 15%;
z-index: 9999;
}

#navigation li{
    
    font-size: 25px;
    line-height:35.71px;
padding-block: 18px;
}

#myNav a{
    color: white;
    transition: color 0.3s;
}

#myNav a:hover{
    color:
rgba(214, 46, 51, 0.4);
}

#navigation .fa-xmark{
position: absolute;
right: 15%;
top: 5%;
transition: color 0.3s;
}

#navigation .fa-xmark:hover{
    color:
rgba(214, 46, 51, 0.4);
}


#navigation #open{
    position: absolute;
right: -55%;
}

#open i{
    margin-right: 10px;
}


.icons i{
    border: 1px solid  rgb(119, 119, 119);
    padding: 10px;
    transition: background-color 0.3s,color 0.3s;
}

.icons a{
    color: rgb(119, 119, 119);
}

.icons i:hover{
    background-color:#D62E33;
    color: white;
}

textarea{
    min-width: 75%;
}

.btn{
    color: white;
    background-color: #D62E33;
    transition: color 0.3s;
}

.btn:hover{
    color: white;
}

#duration{
    background-color:rgba(230, 130, 133,0.6);
    height: 40vh;
    
}


#duration div{
    color: white;
    border: 1px white solid;
    padding-block: 60px;
    padding-inline: 110px;
    font-size: 24px;
    line-height: 26.4px;
    font-weight: 500px;

}